<body>
  <div class="container">
    <div class="display-flex mb-4" style="height: 40px; width: 100%">
      <h6 style="flex: 1 1 auto">Registro computadores</h6>
      <img src="../assets/img/gc-icon.png" style="height: 100%" />
    </div>

    <app-formulario></app-formulario>

    <h6 class="ms-5">Computadores</h6>
    <!-- Listado -->
    <div class="card">
      <div class="card-body">
        <table id="list-table" class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Board</th>
              <th>Case</th>
              <th>Procesador</th>
              <th>Gráfica</th>
              <th>Ram</th>
              <th>Disco duro</th>
              <th>Teclado</th>
              <th>Mouse</th>
              <th>Pantalla</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="modalEdicion" class="modal fade">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="modalEdicionLabel">
            <h5 class="fw-bold m-0">
              Editar rol
            </h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="register-form" class="row">
            <!-- gce_id -->
            <div class="mb-3 col-lg-4 col-sm-6" hidden>
              <input required class="form-control" type="text" id="gce_id_actualizado" />
            </div>
            <!-- gce_nombre_equipo -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_nombre_equipo_actualizado"
                placeholder="Nombre del equipo" />
            </div>
            <!-- gce_board -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_board_actualizado" placeholder="Board" />
            </div>
            <!-- gce_case -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_case_actualizado" placeholder="Case" />
            </div>
            <!-- gce_procesador -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_procesador_actualizado"
                placeholder="Procesador" />
            </div>
            <!-- gce_grafica -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_grafica_actualizado" placeholder="Gráfica" />
            </div>
            <!-- gce_ram -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_ram_actualizado" placeholder="Ram" />
            </div>
            <!-- gce_disco_duro -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_disco_duro_actualizado" placeholder="Disco" />
            </div>
            <!-- gce_teclado -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_teclado_actualizado" placeholder="Teclado" />
            </div>
            <!-- gce_mouse -->
            <div class="mb-3 col-lg-4 col-sm-6">
              <input required class="form-control" type="text" id="gce_mouse_actualizado" placeholder="Mouse" />
            </div>
            <!-- gce_pantalla -->
            <div class="mb-3 col-sm-6 col-lg-6">
              <input required class="form-control" type="text" id="gce_pantalla_actualizado" placeholder="Pantalla" />
            </div>
            <!-- gce_estado -->
            <label class="mb-3 col-sm-6 col-lg-6 position-relative">
              <div class="position-absolute">Estado</div>
              <select class="form-select" id="gce_estado_actualizado">
                <option value="0">Inactivo</option>
                <option value="1" selected>Activo</option>
              </select>
            </label>
            <div class="col-3 mb-3 display-grid">
              <button onclick="Computador.actualizarComputador(event)" class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-plus-square me-2 vertical-align-middle" style="font-size: 1.2em"></i>
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>