<!-- Formulario de inserción -->
<form id="register-form" class="row" onsubmit="Computador.add(event)">
  <!-- gce_nombre_equipo -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_nombre_equipo" placeholder="Nombre del equipo" />
  </div>
  <!-- gce_board -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_board" placeholder="Board" />
  </div>
  <!-- gce_case -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_case" placeholder="Case" />
  </div>
  <!-- gce_procesador -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_procesador" placeholder="Procesador" />
  </div>
  <!-- gce_grafica -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_grafica" placeholder="Gráfica" />
  </div>
  <!-- gce_ram -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_ram" placeholder="Ram" />
  </div>
  <!-- gce_disco_duro -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_disco_duro" placeholder="Disco" />
  </div>
  <!-- gce_teclado -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_teclado" placeholder="Teclado" />
  </div>
  <!-- gce_mouse -->
  <div class="mb-3 col-lg-4 col-sm-6">
    <input required class="form-control" type="text" name="gce_mouse" placeholder="Mouse" />
  </div>
  <!-- gce_pantalla -->
  <div class="mb-3 col-sm-6 col-lg-6">
    <input required class="form-control" type="text" name="gce_pantalla" placeholder="Pantalla" />
  </div>
  <!-- gce_estado -->
  <label class="mb-3 col-sm-6 col-lg-6 position-relative">
    <div class="position-absolute">Estado</div>
    <select class="form-select" name="gce_estado">
      <option value="0">Inactivo</option>
      <option value="1" selected>Activo</option>
    </select>
  </label>
  <div class="col-12 mb-3 display-grid">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-plus-square me-2 vertical-align-middle" style="font-size: 1.2em"></i>
      Agregar
    </button>
  </div>
</form>